# These owners will be the default owners for everything in the repository
* @johnnymirza @maruthiprithivi

# Owners for specific files and directories
main.tf @johnnymirza @maruthiprithivi
ec2_log_simulator.tf @johnnymirza @maruthiprithivi
variables.tf @johnnymirza @maruthiprithivi
outputs.tf @johnnymirza @maruthiprithivi
README.md @johnnymirza @maruthiprithivi

# Terraform-related files
*.tf @johnnymirza @maruthiprithivi
*.tfvars @johnnymirza @maruthiprithivi
*.tfvars.example @johnnymirza @maruthiprithivi 